html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: white;
}
/*-------header--------*/
.general-header {
    display:  flex;
    align-items:  center;
    justify-content: space-between;
    height: 56px;
    background: #AB274F;
    padding: 0 25px;
}
.header-title {
    font-size:  40px;
    font-family: 'Passion One', cursive;
}
.header-title a{
    color: black;
}
/*------background------*/
main {
    height: calc(100vh - 96px);
    width: 100%;   
    background: #292e42;
    margin-top: 96px;
    overflow: auto;
    box-sizing: border-box;
}
/*-------sidebar-------*/
nav {
    display: flex;
    align-items:  center;
    width: 100%;
    height: 40px;
    background: #1b1e2c;
    font-size: 16px;
}
.sidebar-menu li {
    font-family: 'Roboto', sans-serif;
    float: left;
    list-style: none;
}
.sidebar-menu a {
    display: block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    color: #bdc1c5;
}
.sidebar-menu a:hover {
    color: #AB274F;
}
/*-----search-box-----*/
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    border-radius: 40px;
    background: white;
    
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    color: #212536;
    padding: 15px;
    font-size: 15px;
}
.search-item {
    border-radius: 40px;
    background: #212536;
    height: 37px;
    width: 37px;
}
.entrance {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    background: #212536;
    border-radius: 40px;
    color: #bdc1c5;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.entrance a: hover {
    color: #AB274F;
}
.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
}
.entrance:hover {
    background: #1b1e2c;
}
.cards { 
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.card {
    width: 135px;
    height: 190px;
    background: white;
    margin: 10px;
    transition: width .4s;
    color: white;
}
.card:hover {
    background: #ccc;
    transition: 0.3s;
    width: 140px;
}
/*-----Вход-----*/
.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 690px;
}
.recone {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background: #212536;
}
.adc {
    width: 300px;
    height: 35px;
    font-size: 15px;
    background: #bdc1c5;
    border-radius:3px;
    padding-left: 15px;
    border: 1px; 
    margin-bottom: 30px;
    outline: none;
}
.newpassword {
  
}
.teg {
    font-size: 25px;
    color: white;
    padding: 20px;
}
.entrances {
    width: 300px;
    height: 40px;
    background: #AB274F; 
    border: 1px;
    border-radius: 5px;
    color: white;
}   
.regester {
    padding: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #212536;
    width: 100%;
    height: 220px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 15 15px;
}
.foter-bottom {
    width: 100%;
    height: 50px;
    background: #1b1e2c;
}
.foter-1 {
    margin-right: auto;
    margin-left: auto;  
}
.foter-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
h1 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
ul li{
    margin-top: 15px;
}
h2 {
    color: white;
    padding-left: 30px;
}
.txt-cards {
    width: 100%;
    height: 300px;
    margin: auto;
}
.widget-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
     padding-left: 30px;
}
.content-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;
    font-size: 20px;
}










